<ion-content>  
  <div class="flex" >

    <ion-card-header >
      <ion-row class="row">
        <a routerLink="/profile">
          <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
        </a>
        <div class="Utilities">
          <h2 class="head">Change Language</h2>
        </div>
      </ion-row>
    </ion-card-header>

    <div class="body">
      <h2 class="subhead">Select Language</h2>
      <div class="lang">
        <ion-button fill="clear" class="center lang" (click)="language()">English</ion-button>
        <ion-button fill="clear" class="center lang" (click)="language()">Hindi</ion-button>
        <ion-button fill="clear" class="center lang" (click)="language()">Malyanam</ion-button>
        <ion-button fill="clear" class="center lang" (click)="language()">Tamil</ion-button>
        <ion-button fill="clear" class="center lang" (click)="language()">Marathi</ion-button>
        <ion-button fill="clear" class="center lang" (click)="language()">Telgu</ion-button>  
      </div>
      <div class="btn">
        <ion-button class="long-btn">Done</ion-button>   
      </div> 
    </div> 

  </div>
</ion-content>
