<ion-content class="utilities-page">  
  <div class="flex" >

    <ion-card-header >
      <ion-row class="row">
        <a routerLink="/home">
          <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
        </a>
        <div class="Utilities">
          <h2 class="head2">Utilities</h2>
        </div>
      </ion-row>
    </ion-card-header>

    <ion-content >  
      <div style="overflow-x: auto;">  
        <table>
          <tr><td colspan="4"> <img src="assets/icon/common/utilityImg.svg" class="imgrect"></td></tr>
          <tr class="row">
            <td colspan="4"> <p class="headeru">Recharges & Bills</p></td>
          </tr>
          <tr>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/home/recharge/mobile.svg" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/home/recharge/fastag.svg" class="img1">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/dth-provider">
                  <img src="assets/icon/home/recharge/dth.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/home/recharge/cable.svg" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr class="row">
            <td><h6 class="icon-name">Mobile <br>Recharge</h6></td>
            <td><h6 class="icon-name">FASTang<br> Recharge</h6></td>  
            <td><h6 class="icon-name">DTH</h6></td>
            <td><h6 class="icon-name">Cable TV</h6></td>  
          </tr>
          <tr>
            <td colspan="4"> <p class="headeru">Utilities</p></td>
          </tr>
          <tr >
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/home/recharge/cylinder.svg" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/utility/water.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/home/recharge/ele.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/home/recharge/gas.svg" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr class="row">
            <td><h6 class="icon-name">Book a <br>Cylinder</h6></td>
            <td><h6 class="icon-name">Water</h6></td>  
            <td><h6 class="icon-name">Electricity</h6></td>
            <td><h6 class="icon-name">Gas Bill</h6></td>  
          </tr>
          <tr>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/home/recharge/postpaid.svg" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/utility/broadband.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/utility/landline.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/utility/fees.svg" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr class="row">
            <td><h6 class="icon-name">PostPaid</h6></td>
            <td><h6 class="icon-name">BroadBand</h6></td>  
            <td><h6 class="icon-name">Landline</h6></td>
            <td><h6 class="icon-name">Education Fees </h6></td>  
          </tr>
          <tr class="row">
            <td colspan="4"> <p class="headeru">More service</p></td>
          </tr>
          <tr >
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/insurance.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/services/challan.svg" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/services/loan.svg" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/hospital.svg" class="img">
                </a>
              </div>
            <br></td>
          </tr>
          <tr class="row">
            <td><h6 class="icon-name">Insurance</h6></td>
            <td><h6 class="icon-name">Challaan</h6></td>  
            <td><h6 class="icon-name">Loan EMI</h6></td>
            <td><h6 class="icon-name">Hospital</h6></td>  
          </tr>
          <tr>
            <td>     
              <div class="icon2">
                <a routerLink="/mobile-login"><img src="assets/icon/services/life.svg" class="img">
                </a>
              </div>
              <br>
            </td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/tax.svg" class="img">
                </a>
              </div>
            <br></td>
            <td>
              <div class="icon2">
                <a routerLink="/mobile-login">
                  <img src="assets/icon/services/housing.svg" class="img">
                </a>
              </div>
            <br></td>         
          </tr>
          <tr class="row">
            <td><h6 class="icon-name">Life Insurance</h6></td>
            <td><h6 class="icon-name">Muncipal Tax</h6></td>  
            <td><h6 class="icon-name">Housing Society</h6></td>
            <td><h6 class="icon-name"></h6></td>  
          </tr>
        </table>
      </div>
    </ion-content>
</div>
</ion-content>
