<ion-content >
  <div class="flex-center center">
      <div class="row">
        <img src="assets/icon/common/Successmark.svg" class="logo">
      </div>
      <h2 class="header3">Create Account Successfully!</h2>
      <p class="msg2">Create Account Successfully</p>
      
        <ion-grid>
          <div>
            <ion-col size="11">
              <div>
                <ion-button  class="long-btn" (click)="login()">Back to login</ion-button>
              </div>
            </ion-col>
          </div>
        </ion-grid>
    </div>
  </ion-content>
  