
.Transfer {
    margin-left: 2vw !important;
     margin-top: 1vh !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw !important;
  }
.flex{
    margin-left: 5vw;
    margin-bottom: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
}
.img{
  max-width:15vw;
  max-height: 5vh;
}
.SubscriberId{
  font-size: 4vw;
}
.url{
  ///width:12vw;
  margin-right: 5vw;
}
.dishimg.tataPlayimg{
width:18vw;
}
.dth{
  padding-top: 2vh;
  padding-bottom: 2vh;
  justify-content: center;
}
.img2{
  text-align: center;
}
.title{
  margin-top:1vh;
  font-size:4vw;
}
.Title{
  font-size:3.5vw;
  color: black;
  font-weight: 600;
}
.back_icon6{
  height:10vw;
}
.custom-input-field{
  margin-top:1vh;
  margin-bottom: 1vh;
  height: 15vw;
}
.d2htitle,.airteltitle{
margin-top:1vh;
}
.body{
  margin-left: 5vw;
  margin-right: 5vw;
}
.sunDirect,.dishimg,.tataPlayimg{
  width:20vw;
}