
.flex-center{
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 0vw;
}

.redirectbody{
    text-align: center;
    justify-content: center;
}
.image{
    height: 60vh;
    padding-top:5vh;
    width:80vw;
    float:right;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vh;  
}
.img{
    padding-bottom: 5.6vw;
}
    