.Transfer {
    margin-left:2vw;
     margin-top: 1vh !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw !important;
  }
.flex{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4vh;
}
.Title1{
  // margin-top:1vh;
  font-size:4vw;
  font-weight: 600;
  margin-top: 1vh;
}
.title{
  font-size:4vw;
  margin-top: 1vh;
  color: #545454;
  // font-weight: 600;
}
.custom-input-field2{
  // background:#F7F8F9;
  width: 100%;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
  border-radius:2vw;
  color: #000;
  font-size:4vw;
  height: 52px;
  padding-left: 3vw;
 }
 .btn{
  --background: #EEF4FF;
  color:#09376E;
  width:20vw;
  // padding: 5vw;
  margin-left: 5vw;
 }
 .line{
  margin-top:1vh
 }
 .line2{
  margin-top:2vh
 }
 .money{
  margin-bottom:1vh;
  padding-left: 15vw;
  font-size:4vw;
  color: #545454;
  padding-top: 1vh;
 }
 .back_icon6{
  height:10vw;
}
 .name{
  // margin-bottom:1vh;
  padding-left: 20vw;
  font-size:4vw;
  color: #545454;
  padding-top: 1vh;
 }
 .confirm{
  margin-top: 22vh;
  margin-left: 2vw;
  margin-right: 2vw;
  }
  .DB_LOGO{
    margin-top: 2vh;
    width:10vw;
  }
  .logo{
    padding-left:2vw;
    justify-content: center;
  }
  .sunDirect,.dish,.tataPlay{
    width:20vw;
  }