<ion-content *ngIf="searchf">
  <div class="flex-center2">
    <ion-grid>
      <ion-card-header>
        <img src="assets/icon/common/logo2.svg" class="logo center" />
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="SearchForm" novalidate (ngSubmit)="search()">
          <div class="input">
            <ion-col size="12">
              <input
                type="number"
                class="custom-input-field"
                placeholder="Enter your mobile number"
                formControlName="mobile"
                required
              />
            </ion-col>

            <div *ngIf="!SearchForm.controls['mobile'].valid">
              <div
                *ngIf="(SearchForm.controls['mobile'].hasError('pattern')||SearchForm.controls['mobile'].touched) && isSubmitted"
                class="text-danger"
              >
                Enter valid Mobile number
              </div>
            </div>
          </div>

          <div class="login">
            <ion-button
              class="small-btn"
              type="submit"
              [disabled]="!SearchForm.valid"
              >Next</ion-button
            >
          </div>
        </form>
      </ion-card-content>
    </ion-grid>
  </div>
</ion-content>

<!-- register Page -->

<ion-content *ngIf="registerf">
  <div class="flex-center">
    <ion-grid>
      <ion-card-header>
        <a routerLink="/login">
          <img src="assets/icon/home/back_arrow.svg" class="back_icon" />
        </a>
        <h2 class="header3">Hello! Register to get started</h2>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="regForm" novalidate (ngSubmit)="register()">
          <div class="input">
            <ion-col size="12">
              <input
                type="number"
                class="custom-input-field"
                placeholder="Enter your Mobile Number"
                formControlName="mobNum"
                required
              />
            </ion-col>
          </div>
          <div *ngIf="!regForm.controls['mobNum'].valid">
            <div
              *ngIf="(regForm.controls['mobNum'].hasError('pattern')||regForm.controls['mobNum'].touched) && isSubmitted"
              class="text-danger"
            >
              Enter valid Mobile number
            </div>
          </div>

          <div class="input">
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="Name"
                formControlName="name"
                required
              />
            </ion-col>
          </div>
          <div *ngIf="!regForm.controls['name'].valid">
            <div
              *ngIf="(regForm.controls['name'].hasError('pattern')||regForm.controls['name'].touched) && isSubmitted"
              class="text-danger"
            >
              Enter valid Name
            </div>
          </div>

          <div class="input">
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="Email"
                formControlName="email"
                required
              />
            </ion-col>
          </div>
          <div *ngIf="!regForm.controls['email'].valid">
            <div
              *ngIf="(regForm.controls['email'].hasError('pattern')||regForm.controls['email'].touched) && isSubmitted"
              class="text-danger"
            >
              Enter valid Email
            </div>
          </div>

          <div class="input">
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="Password"
                formControlName="psd"
                required
              />
            </ion-col>
          </div>
          <div *ngIf="!regForm.controls['psd'].valid">
            <div
              *ngIf="(regForm.controls['psd'].hasError('pattern')||regForm.controls['psd'].touched) && isSubmitted"
              class="text-danger"
            >
              Password must contain one digit [0-9],one lowercase character
              [a-z], uppercase character [A-Z],special character
            </div>
          </div>

          <div class="input">
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="Confirm password"
                formControlName="confpsd"
                required
              />
            </ion-col>
          </div>

          <div class="input">
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="Referral Code (optional)"
                formControlName="refcode"
              />
            </ion-col>
          </div>

          <div class="btn-space">
            <ion-button class="small-btn" routerLink="/mobile-login" type="submit"
              >Register</ion-button
            >
          </div>
        </form>
      </ion-card-content>
    </ion-grid>
  </div>
</ion-content>

<!-- Login codes Starts Here -->

<ion-content *ngIf="loginf">
  <div class="flex-center">
    <ion-grid>
      <ion-card-header >
        <a routerLink="/mobile-login">
          <img src="assets/icon/home/back_arrow.svg" class="back_icon">
        </a>
        <img src="assets/icon/common/logo2.svg" class="logo center">
      </ion-card-header>

      <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <ion-card-content>
          <div class="input">   
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="Enter your mobile number"
                formControlName="mobile"
                required
              />
            </ion-col>
          </div>
        
          <div class="input">
            <ion-col size="12">
              <input
                type="password"
                class="custom-input-field"
                placeholder="Enter your password"
                formControlName="psd"
                required
              />
            </ion-col>
          </div>

          <div class="left">
            <p class="ForgetPswBtn regular"fill="clear" routerLink="/forgetpsw">Forgot Password?</p>
          </div>
        
          <div class="center login">
            <ion-button class="small-btn" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
          </div>   
      
        </ion-card-content>
      </form>    
    </ion-grid>
  </div>
</ion-content>

