<ion-content>
  <div class="flex-center">
    <ion-grid>

      <ion-card-header >
        <ion-row class="row">
          <a routerLink="/home">
            <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
          </a>
          <div class="redirect">
            <h2 class="head2">Redirect</h2>
          </div>
        </ion-row>
      </ion-card-header>

      <div class="redirectbody">
        <ion-card>
          <div class="img">
            <img src="assets/icon/home/levis.svg" class="logo center">
          </div>
       </ion-card>

        <p>Lorem ipsum dolor sit amet consectetur. Nulla eget turpis malesuada eu nullam curabitur lacus sed.
          A sodales in diam egestas congue ac. Mattis orci vel duis facilisis ornare id quisque. Lacus egestas massa 
          enim enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Nulla eget turpis malesuada eu nullam curabitur lacus sed.
            A sodales in diam egestas congue ac. Mattis orci vel duis facilisis ornare id quisque. Lacus egestas massa 
            enim enim.</p>     
      </div>

      <div class="login">
        <ion-col size="12">
           <ion-button class="long-btn" routerLink="/home">Continue</ion-button>
        </ion-col>
      </div>
      
    </ion-grid>
  </div>
</ion-content>
