.slash{
width: 428px;
height: 926px;

background: #09376E;
border-radius: 30px;
}

.flex-center{
    justify-content: center;
    display: flex;
    align-items: center;    
    height:100%;
    padding-top:10px;
}
