<ion-content>
  <div class="pay1">
    <ion-grid>
      <ion-card-header>
        <ion-row class="row">
          <span class="Transfer">Reciept</span>
        </ion-row>

        <ion-grid [fixed]="true">
          <ion-row>
            <div class="paym">
              <img src="../../../assets/icon/home/r1.svg" class="pay1" />
              <img src="../../../assets/icon/home/r2.svg" class="pay" />
              <img src="../../../assets/icon/home/r3.svg" class="payinfo">
            </div>
          </ion-row>
          
        </ion-grid>
        
      </ion-card-header>
    </ion-grid>
  </div>
</ion-content>
