<ion-content>  
  <div class="flex" >

      <ion-card-header >
        <ion-row class="row">
          <a routerLink="/home">
            <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
          </a>
          <div class="Utilities">
            <h2 class="head">Profile Setting</h2>
          </div>
        </ion-row>
      </ion-card-header>

      <ion-row class="row">
        <div class="icon">
          <img src="assets/icon/home/profile/icon1.svg" class="icon1">
        </div>
        <div class="details">
          <h2 class="subhead">Profile</h2>
          <p class="msg1">Add or Modify mobile number, email or KYC number</p>
        </div>
        <div class="arrow">
          <a routerLink="/profile2">
            <img src="assets/icon/home/profile/arrow.svg" class="arrow1">
          </a>
        </div>
      </ion-row>

      <ion-row class="row">
        <div class="icon">
          <img src="assets/icon/home/profile/icon2.svg" class="icon1">
        </div>
        <div class="details">
          <h2 class="subhead">Save Addresses</h2>
          <p class="msg1">Add or Modify Addresses where you want your shopped products to be delivered</p>
        </div>
        <div class="arrow">
            <a routerLink="/address">
              <img src="assets/icon/home/profile/arrow.svg" class="arrow1">
            </a>
        </div>
      </ion-row>

      <ion-row class="row">
        <div class="icon"> 
          <img src="assets/icon/home/profile/icon3.svg" class="icon1">
        </div>
        <div class="details">
            <h2 class="subhead">Sequirity & Privacy</h2>
            <p class="msg1">Change password,manage security sheield, Account Security Tips Manage Logged-in Account</p>
        </div>
        <div class="arrow">
            <a routerLink="/sequirityprivacy">
              <img src="assets/icon/home/profile/arrow.svg" class="arrow1">
            </a>
        </div>
      </ion-row>

      <ion-row class="row">
        <div class="icon">
          <img src="assets/icon/home/profile/icon4.svg" class="icon1">
        </div>
        <div class="details">
            <h2 class="subhead">Manage Notifications</h2>
            <p class="msg1">Mange How you want to recieve important update </p>
        </div>
        <div class="arrow">
            <a routerLink="/mange-notification">
              <img src="assets/icon/home/profile/arrow.svg" class="arrow1">
            </a>
        </div>
      </ion-row>

      <ion-row class="row">
        <div class="icon">
          <img src="assets/icon/home/profile/icon5.svg" class="icon1">
        </div>
        <div class="details">
            <h2 class="subhead">Change Language</h2>
            <p class="msg1">Change the language you use for Dashback App</p>
        </div>
        <div class="arrow">
            <a routerLink="/language">
              <img src="assets/icon/home/profile/arrow.svg" class="arrow1">
            </a>
        </div>
      </ion-row>

  </div>
</ion-content>
