<ion-content>  
  <div class="flex" >

    <ion-card-header >
      <ion-row class="row">
        <a routerLink="/profile">
          <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
        </a>
        <div class="header4">
          <h2 class="head">Profile</h2>
        </div>
      </ion-row>
    </ion-card-header>

    <div class="image center">
      <img src="assets/icon/home/profile/photo.svg" class="image">
    </div>
      <!-- <ion-col size="10">
        <div class="tier">
          <ion-row class="row">
        <h2 class="name1">KYC Verification</h2>
        <div class="tierbtn center">
      <button  blockclass="btn" >
          <img src="assets/icon/home/profile/arrow.svg" class="tierbtn">
      </button>
    </div>
      </ion-row>
        </div>
        </ion-col> -->

    <div class="input"> 
      <h6>Name*</h6>      
      <ion-col size="12">
        <input type="text" id="w3review" class="custom-input-field2" name="w3review" />
      </ion-col>    
    </div>
    <div class="input"> 
      <h6>Mobile Number*</h6>      
      <ion-col size="12">
        <input type="text" id="w3review" class="custom-input-field2" name="w3review" />
      </ion-col>    
    </div> 
    <div class="input"> 
      <h6>Email*</h6>      
      <ion-col size="12">
        <input type="text" id="w3review" class="custom-input-field2" name="w3review" />
      </ion-col>    
    </div> 

    <div class="btn">
      <ion-button class="long-btn">update</ion-button>   
    </div>  

    <ion-button fill="clear" class="center logout" routerLink="/login">Logout</ion-button>
  </div>
</ion-content>
