.notificationbody{
    text-align: center !important;
    justify-content: center !important;
}
.head2{
    font-style: normal;
    font-weight: 700;
    font-size: 6.5vw;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #161616;
    // margin-top: 1vh;
    margin-left: 4vw;
    text-align: center;
}

.notification{
    margin-top: 3vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.img{
    margin-top: 20vh;
    width:80vw;
    margin-bottom: 10vh;
    justify-content: center !important;
    text-align: center !important;  
    padding-left: 15vw;
}
p{
    font-size:4vw;
}
