<ion-content>
  <div class="notification">
    <ion-grid>

      <ion-card-header >
        <ion-row class="row">
          <a routerLink="/home">
            <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
          </a>
          <div class="redirect">
            <h2 class="head2">&nbsp;&nbsp;Notification</h2>
          </div>
        </ion-row>
      </ion-card-header>

      <div class="notificationbody">        
        <div class="img">
          <img src="assets/icon/home/notification.svg" class="logo center">
        </div> 
        <h2 class="head2">Empty</h2> 
        <p>You don’t have any notification at this time</p>  
      </div>       
    </ion-grid>
  </div>
</ion-content>
