.Transfer {
  margin-left: 2vw !important;
   margin-top: 1vh !important;
  // margin-top: 3.9vh !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 4vw !important;
}
.flex{
  margin-left: 5vw;
  margin-right: 5vw;
  // margin-bottom: 5vw;
  margin-top: 2vh;
}
.confirm{
margin-top: 50vh;
}
.body{
margin-left: 2vw;
margin-right: 2vw;
}
ion-item {
border:None;
font-size: 4vw;
padding-top: -1vh;
}
.content{
// margin-left:20vw;
color:#929292;
font-size:3vw;
}
.icon2{
height:5vw;
}
.back_icon6{
height:10vw;
}
.logo{
margin-top:3vh;
}
.DB_LOGO{
height:8vw;
}
.input{
background:#F7F8F9;
border-radius: 3vw;
margin-top: 1vh;
}
.inputContent{
// padding-left: 2vw;
margin-top:0.5vh;
padding-bottom: 3vh;
padding-left: 6vw;
padding-right: 1vw;  
color:#929292;
font-size:3vw;
}