<ion-content>  
  <div class="flex" >

    <ion-card-header >
      <ion-row class="row">
        <a routerLink="/profile">
          <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
        </a>
        <div class="header4">
          <h2 class="head">Save Addresses</h2>
        </div>
      </ion-row>
    </ion-card-header>

    <div class="input"> 
      <h6>Address*</h6>      
      <ion-col size="12">
        <input type="text" id="w3review" class="custom-input-field2" name="w3review" rows="4" />
      </ion-col> 
    </div>
          
    <div class="btn">
      <ion-button class="long-btn">update</ion-button>   
    </div>  

  </div>
</ion-content>
