<ion-content>
  <div class="flex-center">
    <ion-grid>

      <ion-card-header >
        <ion-row class="row">
          <a routerLink="/home">
            <img src="assets/icon/home/back_arrow.svg" class="back_icon2">
          </a>
          <div class="redirect">
            <h2 class="head2">Refer Your Friends <br> and Earn Cashback!</h2>
          </div>
        </ion-row>
      </ion-card-header>

      <div class="redirectbody">
    
        <div class="img">
            <img src="assets/icon/common/refer.svg" class="image center">
        </div>
      
        <ion-card-content>
          <h2 class="refhead">Your Referral Link:</h2>
          <div class="input">
            <ion-col size="12">  
              <input
                type="tel"
                class="custom-input-field"
                placeholder="www.dashback.com/refrral/xyx"           
                required
              />
            </ion-col>
          </div>

          <h2 class="or">Or</h2>
          <h2 class="refhead">Your Referral Code:</h2>
          <div class="input">
            <ion-col size="12">
              <input
                type="tel"
                class="custom-input-field"
                placeholder="xyz"
                required
              />
            </ion-col>
          </div>
        </ion-card-content>
             
      </div>

      <div class="login">
        <ion-button class="small-btn center" routerLink="/commingsoon">Done</ion-button>
      </div>
        
    </ion-grid>
  </div>
</ion-content>
