.head2{
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #161616;
    margin-left: 2vw;
    text-align: center;
}
.refhead{
float: left;
font-style: normal;
font-weight: 600;
font-size: 4vw;
line-height: 130%;
letter-spacing: -0.01em;
color: #161616;
// margin-top: 1vh;
margin-left: 2vw;
text-align: center;
}
.or{
    font-weight: 600;  
    margin-top: 2vh;
    margin-bottom:2vh
}
.flex-center{
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}


.redirectbody{
    text-align: center;
    justify-content: center;
  }
  .redirect{
    margin-left: 2vw;
  }
      .image{
        height: 40vh;
        // padding-top:1vh;
    }
    .center{
        display:block;
        margin-left: auto;
        margin-right: auto;
        // width: 35%;
        // margin-top:2vh;
        
    }
    .img{
        padding-bottom: 2vw;
    }
    // .continue{
    //     margin-top: 8vh;
    // }
    